.git
.gitignore
README.md
.env.example
.editorconfig
.env.*.local
.DS_Store
docker-compose.yml
docker-compose.*.yml
.vscode
.idea
node_modules
npm-debug.log
storage/logs/*
storage/app/filament/uploads/*
bootstrap/cache/*
vendor
.phpunit.cache
.phpcs.cache
tests
.php-cs-fixer.cache
.pest_json_cache
public/storage
.github
.gitlab-ci.yml
.gitpod.yml
Sail
artisan
pint.json
Makefile
